* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Verdana, 'Arial Narrow Bold', Arial,Georgia,Helvetica, sans-serif;

}

@font-face{
	font-family: 'menu';
  src: url('../fuentes/Roboto-Bold.ttf');
  font-family: 'uber';
  src: url('../fuentes/Gravity-Book.otf');
}

#fuenteMenu{
	font-family: 'menu';
  font-size: 18px;
  /*font-weight: bold;*/
}

#fuenteUber{
	font-family: 'uber';
  font-size: 32px;
  letter-spacing: 0.01em;
	/*font-weight: bold;*/
}



.navbar{
  box-shadow: 4px 4px 8px #000; /* La Sombra*/
  /* rgb(62,170,243) Color del LOgo IM*/
  border-bottom: 1px #ffffff solid;
  border-bottom: 1px rgb(51,204,255) solid;
  border-bottom: 1px floralwhite solid;
  background-color: rgb(248,249,250,0.4);
  /*background-color: blue;*/
}


header {
  margin-top: 0px;
  background: url('../img/Bg5.png') no-repeat center;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.header-text {
  /*text-align: left ;*/
  color: white;
  padding-top: 90px;
  /*margin-left: 10px;*/
}

.navbar-nav .nav-item .nav-link:hover {
  color:rgb(39, 150, 240);
  color:rgb(252,140,59);
  color:rgb(51,204,255);
}

.navbar-nav .nav-item .nav-link {
  color: #000;
} 


#menu { }

#menu .container{ }

.menuLeft{
	margin: 0px;
	padding: 0px;
	height: 54px;
  width: 180px;	
  border-right: 1px floralwhite solid;	
  
}


.menuRight{
	margin-left: 50px;
	padding-top: 6px;
	padding-left: 22px;
	height: 54px;
    width: 50px;	
	border-left: 1px floralwhite solid;
}

h3{
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.sombraNegra{ 
  box-shadow: 15px 15px 30px #000; /* La Sombra*/
}

.sombraAzul{
  box-shadow: 15px 15px 30px #94a5b0; 
}


#totalSupervisor{
  min-height: 100vh;
  margin-top: 0px;
  background: url('../img/totalVentas.jpg') no-repeat center;
  background-size: cover;
}


/* Mi Equipo */
#miEquipo{
  min-height: 100vh;
  margin-top: 0px;
  background: url('../img/liderGrupo.png') no-repeat center;
  background-size: cover;
}


 /*  Supervisor */
 #Supervisor {
  min-height: 100vh;
  margin-top: 0px;
}

#Supervisor .row {
 padding-top: 70px;
}

.switchSupervisor{
  padding: 0px;
  height: 38px;
  width: 54px;
  border-radius: 5.5px 0px 0px 5.5px;
  border: solid 0.5px;
  color: silver;
  padding-left: 10px;
  padding-top: 6px;
}

#SupervisorRight{
  margin-top:2px; 	
  height: 580px;
  width: 580px;
  background: url('../img/supervisor.jpg') no-repeat center;
  margin-left: 16px;
  box-shadow: 10px 10px 20px #000; /* La Sombra*/    
  border-radius: 3.5px;
  color: floralwhite;
  background-size: cover;
}


 /*  Supervisor */
 #Vendedor {
  min-height: 100vh;
  margin-top: 0px;
  background-color: rgb(112,172,240) ;
  background-color: rgb(155,193,236) ;
  background-color: rgb(176,185,190) ;
  background-color: rgb(200,203,206);
  background-color: white;
}

#Vendedor .row {
  padding-top: 75px;
}

.vendedorLeft{
  box-shadow: 4px 4px 12px #000; /* La Sombra*/
  margin-left: 20px;
  margin-top: 20px;
}
#vendedorRight{
  margin-top:0px; 	
  height: 580px;
  width: 588px;
  background: url('../img/vendedor.jpg') no-repeat center ;
  margin-left:1px;
  
  color: black;
  background-size: contain;
  /*background-color: burlywood;*/
  
}



/* Contactanos */
#Contact{
  min-height: 100vh;
  margin-top: 0px;
  background: url('../img/bgContactanos.jpg') no-repeat center;
  background: linear-gradient(to right, rgba(33, 50, 129, .0), rgba(155,35,234,.4) ) , url('../img/bgContactanos.jpg') no-repeat center;
  background-size: cover;
  color: floralwhite;
  
}

/* Contrato  */
#Contrato{
  
  min-height: 100vh;
  margin-top: 0px;
  background: url('../img/bgContrato.jpg') no-repeat center;
  background-size: cover;
}



#Contrato .row {
  padding-top: 130px; 

}

.contratoHeader{
  font-family: 'menu';
  font-weight: bold;
  padding-top: 10px;
  font-size: 34px;
}

.ContratoServicio{
  font-size: 12px;
  padding-top: 3px;
}



/* Contrato  -  Cliente */
.bg-Cliente{
  /* background: linear-gradient(to right, rgba(255,245,235, .5), rgba(83,205,255,.7) ) , url('../iconos/company_128Px.png') no-repeat center; */
  background: linear-gradient(to right, rgba(235,225,215, .1), rgba(83,205,255,.9) ) , url('../iconos/company_128Px.png') no-repeat center;
}

.bg-Cliente .form-control{
  background: transparent !important ;
}

/* Contrato  -  Instalación */
.bg-instalacion{
  background: linear-gradient(to right, rgba(235,225,215, .1), rgba(108,247,47,.5) ) ;
}

.bg-instalacion .form-control{
  background: transparent !important ;
}

/* Contrato -  Servicios */

.aling-Servicios{
  margin-left: -5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.bg-servicio{
  background: linear-gradient(to right, rgba(235,225,215, .1), rgba(199,209,211,.7) ) ;
  background: linear-gradient(to right, rgba(235,225,215, .1), rgba(227,128,57,.3) ) ;
}

.bg-servicio .form-control{
  background: transparent !important ;
}

footer{
  min-height: 160px;
  color: white;
  background-color: rgb(237,242,245);
  background-color: rgb(221,222,227);
  background-color: rgb(176,185,190) ;
  background-color: rgb(200,203,206);

}

footer p {
  color: black;
  font-weight: bold;
  /*line-height: 100%;*/


}


/* Media Query */

@media (max-width: 440px){ /* Table */
  .aling-Servicios{
    display: inline-block;
  }
}


@media (max-width: 768px){ /* Table */

  .navbar{ background: rgb(248,249,250); }
  .navbar{
    border-bottom: 2px #ffffff solid;
    border-bottom: 2px rgb(51,204,255) solid;
    border-bottom: 2px floralwhite solid;
  }
  
  #Supervisor .row { padding-top: 56px; }

  #Vendedor .row { padding-top: 56px; }

  #Contrato{ background: #fff; }
  #Contrato .row { padding-top: 56px; }

  .contratoHeader{
    font-family: 'menu';
    font-weight: bold;
    padding-top: 10px;
    font-size: 24px;
  }

}

/*
primary
secondary
success
danger
warning
info
light
dark
link
*/

/* Para el Correo
<a href="mailto:someone@exemple.com?subject=Questions">Preguntas aquí</a>
*/

/* Elementos html
<!--[if lt IE 9]>
  <script>
    document.createElement("header" );
    document.createElement("footer" );
    document.createElement("section"); 
    document.createElement("aside"  );
    document.createElement("nav"    );
    document.createElement("article"); 
    document.createElement("hgroup" ); 
    document.createElement("time"   );
  </script>
<![endif]-->

*/


/* a:link { color: blue; }           Enlaces no visitados 
a:visited { color: purple; }      Enlaces visitados 
a:hover { background: yellow; }   El usuario esta sobre el enlace 
a:active { color: lime; }         Enlaces activos */





